<div class="header_container">
   <div class="container header_parent">
      <nav class="navbar navbar-expand-md  mt-3">
         <a class="navbar-brand" href="#">
            <img src="/images/Logo.svg" alt="Logo" width="90px" />
         </a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
            <ul class="navbar-nav mx-auto">
               <li class="nav-item">
                  <a class="nav-link active-link" href="/">Home</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/news">News</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/education">Education</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/information">Information</a>
               </li>
            </ul>
            <div class="login-btn">
               <a class="btn btn-md btn-dark" href="/dashboard/logout">logout</a>
            </div>
         </div>
      </nav>
      <div class="dashboard_header">
         <div class="text-center justify-content-center">
            <h3>Welcome {{user}} <br> to Your Cool-dash dashboard</h3>


         </div>
      </div>
   </div>


</div>




 
<div class="recent jumbotron mx-auto mt-lg-3" style="width: 70%;">
   <h2>What you missed</h2>
   <p class="lead">
      OAU has compensed the payment of accenptance fee, school fees and uploading of various required documents
      for the university for incoming freshers with resumption date fixed 28th February, 2020.
   </p>
</div>

<div class="container">
   <div class="education_cards mt-4">
      <div class="education_preview_header">
         <h3>Education</h3>
         <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam quasi, labore, illo ratione
            officiis odit doloremque quia optio mollitia temporibus molestias nostrum rem ullam necessitatibus sunt non
            asperiores aspernatur laudantium! doloremque quia optio mollitia temporibus molestias nostrum rem ullam
            necessitatibus sunt non
            asperiores aspernatur laudantium!</p>
      </div>
      <div class="row">
         <div class="col-md-4">
            <div class="card" style="widith: 9rem; border-radius: 5px; height: 200px">
               <div class="card-body">
                  <h5 class="card-title">Books</h5>
                  <p class="card-text">Vast collection of books for your success</p>
                  <a href="/education/books" class="btn btn-primary">view books</a>
                  <p></p>
               </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="card" style="widith: 9rem; border-radius: 5px; height: 150px;">
               <div class="card-body">
                  <h5 class="card-title">Tutorial videos</h5>
                  <p class="card-text">Can't assimilate what you learnt from class, we have 
                     a well detailed collection for each and every course you offer.
                  </p>
                  <a href="/education/tutorial_videos" class="btn btn-primary">view videos</a>
                  <p></p>
               </div>
            </div>
         </div>
         <div class="col-md-4">
            <div class="card" style="widith: 9rem; border-radius: 5px; height: 150px;">
               <div class="card-body">
                  <h5 class="card-title">Forum</h5>
                  <p class="card-text">while spend your night thinking while you cand easily share
                     your 
                  </p>
                  <a href="/education/forum" class="btn btn-primary">visit online forum</a>
                  <p></p>
               </div>
            </div>
         </div>
      </div>

   </div>
</div>


<div class="container footer mt-5">
   <div id="footer" class="col-12">
      <div class="social mb-3">
         <a href=""><i class="fa fa-facebook" style="color: red;"></i></a>
         <a href=""><i class="fa fa-twitter"></i></a>
         <a href=""><i class="fa fa-instagram"></i></a>
      </div>
      <div class="contact">
         <a>News</a>
         <p>•</p>
         <a>Contact us</a>
         <p>•</p>
         <a>About us</a>
      </div>
   </div>
</div>