<div class="sidenav">
         <div class="image text-center mb-5">
            <img src="/images/img_avatar.png" width="100px"/>
            <h5>Chukwuma Ciroma</h5>
         </div>
         <div class="navcontent inactive">
            <a href="/education/books">
               <img src="/images/documents.png" width="40px">
               <span class="ml-2">Books</span>     
            </a>          
         </div>
         <div class="navcontent inactive">
            <a href="/education/tutorial_videos">
               <img src="/images/video-camera.png" width="40px">
               <span class="ml-2">Videos</span>     
            </a>          
         </div>
         <div class="navcontent inactive">
            <a href="/education/past_question">
               <img src="/images/files-and-folders.png" width="40px">
               <span class="ml-2">PQ & Course Outline</span>     
            </a>          
         </div>
         <div class="navcontent inactive">
            <a href="/education/gp_calculator">
               <img src="/images/maths.svg" width="40px">
               <span class="ml-2">GP Calculator</span>     
            </a>          
         </div>
         <div class="navcontent inactive">
            <a href="/education/forum">
               <img src="/images/dialogue.svg" width="40px">
               <span class="ml-2">Online Group Forum</span>     
            </a>          
         </div>
         <div class="navcontent inactive logout">
            <a href="/dashboard/logout">
               <img src="/images/log-out.svg" width="40px">
               <span class="ml-2">Logout</span>     
            </a>          
      </div>
   </div>
{{!--       
   <div class="main">
      <div class="row gallery">
         <div class="col-4">
            <div class="thumbnail">
               <div class="book d-flex justify-content-center align-items-center">
                  <h1>CPE301</h1>
               </div>
            </div>
         </div>
         <div class="col-4">
            <div class="thumbnail">
               <div class="book">
                  <div class="book d-flex justify-content-center align-items-center">
                     <h1>CPE306</h1>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-4">
            <div class="thumbnail">
               <div class="book">
                  <div class="book d-flex justify-content-center align-items-center">
                     <h1>CSC301</h1>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="row gallery">
         <div class="col-4">
            <div class="thumbnail">
               <div class="book">

               </div>
            </div>
         </div>
         <div class="col-4">
            <div class="thumbnail">
               <div class="book">

               </div>
            </div>
         </div>
         <div class="col-4">
            <div class="thumbnail">
               <div class="book">

               </div>
            </div>
         </div>
      </div>
      <div class="row gallery">
         <div class="col-4">
            <div class="thumbnail">
               <div class="book">

               </div>
            </div>
         </div>
         <div class="col-4">
            <div class="thumbnail">
               <div class="book">

               </div>
            </div>
         </div>
         <div class="col-4">
            <div class="thumbnail">
               <div class="book">

               </div>
            </div>
         </div>
      </div>   
   </div> --}}