<div class="header_container">
   <div class="container header_parent">
      <nav class="navbar navbar-expand-md  mt-3">
         <a class="navbar-brand" href="#">
            <img src="/images/Logo.svg" alt="Logo" width="90px" />
         </a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse justify-content-between" id="collapsibleNavbar">
            <ul class="navbar-nav mx-auto">
               <li class="nav-item">
                  <a class="nav-link active-link" href="/">Home</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/news">News</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/contactus">Contact us</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="/aboutus">About us</a>
               </li>
            </ul>
            <div class="login-btn">
               <a class="btn btn-md btn-dark" href="/login">login</a>
            </div>
         </div>
      </nav>
      <div class="intro">
         <div class="intro-1">
            <h2>Everything you need as a student.<br /> Just a click away</h2>
            <p class="mt-4">We are bringing about various opportunities and preparing students powerfully for the labour
               market and the outside world</p>
            <a href="/signup" class=" btn register_link">Register Now</a>
         </div>
         <div class="intro-2">
            <img src="/images/avel-chuklanov-DUmFLtMeAbQ-unsplash.jpg" width="100%" height="auto">
         </div>
      </div>
   </div>
</div>

<div id="about-us" class="clearfix">
   <h1 class="text-center mb-5">About us</h1>
   <div class="container">
      <div data-aos="fade-down">shssgssssgsssgsgsgsgvbshshsj</div>
      <div class="row d-flex justify-content-between col-4img col-4im">
         <div class="col-4">
            <div class="text-img">
               <p>
                  <span class="text-img-header">Education</span><br>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci reiciendis aperiam sapiente ex
                  expedita eius!</p>
            </div>
            <img src="/images/avel-chuklanov-DUmFLtMeAbQ-unsplash.jpg" width="100%" alt="">
         </div>
         <div class="col-4">
            <div class="text-img">
               <p>
                  <span class="text-img-header">Information</span><br>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci reiciendis aperiam sapiente ex
                  expedita eius!</p>
            </div>
            <img src="/images/avel-chuklanov-DUmFLtMeAbQ-unsplash.jpg" width="100%" alt="">
         </div>
         <div class="col-4">
            <div class="text-img">
               <p>
                  <span class="text-img-header">Communicattion</span><br>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci reiciendis aperiam sapiente ex
                  expedita eius!</p>
            </div>
            <img src="/images/avel-chuklanov-DUmFLtMeAbQ-unsplash.jpg" width="100%" alt="">
         </div>
      </div>
   </div>
</div>

<div id="testimonial" class="clearfix">
   <h1 class="text-center mb-5">What people say about us</h1>
   <div class="container">
      <div class="row">
         <div class="col-4">
            <div class="test-m">
               <div class="testm-img"></div>
               <div class="test-mdiv">
                  <h2>Lara Daniel</h2>
                  <p>If the gods are good, they will grant us a warm autumn andbountiful harvests, so we might prepare
                     for the winter to </p>
               </div>
            </div>
         </div>
         <div class="col-4">
            <div class="test-m">
               <div class="testm-img"><img src="/images/avel-chuklanov-DUmFLtMeAbQ-unsplash.jpg"></div>
               <div class="test-mdiv">
                  <h2>Hao Jing</h2>
                  <p>If the gods are good, they will grant us a warm autumn andbountiful harvests, so we might prepare
                     for the winter to </p>
               </div>
            </div>
         </div>
         <div class="col-4">
            <div class="test-m">
               <div class="testm-img"></div>
               <div class="test-mdiv">
                  <h2>Britany Lara</h2>
                  <p>If the gods are good, they will grant us a warm autumn andbountiful harvests, so we might prepare
                     for the winter to </p>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>


<div class="container footer mb-4">
   <div id="footer" class="col-12">
      <div class="social mb-3">
         <a href=""><i class="fa fa-facebook" style="color: red;"></i></a>
         <a href=""><i class="fa fa-twitter"></i></a>
         <a href=""><i class="fa fa-instagram"></i></a>
      </div>
      <div class="contact">
         <a>News</a>
         <p>•</p>
         <a>Contact us</a>
         <p>•</p>
         <a>About us</a>
      </div>
   </div>
</div>