<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title> 
    {{!-- css stylesheets --}}
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel="stylesheet" href="/stylesheets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/aos.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/landing_page.css">
    <link rel="stylesheet" href="/stylesheets/signup_login.css">
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
    {{!-- <link rel="stylesheet" href="/stylesheets/books.css"> --}}

  {{!-- javacripts library --}}
   <script src="/javascripts/jquery3.3.1.js"></script>
   <script src="/javascripts/bootstrap.min.js"> </script>
   <script src="/javascripts/aos.js"></script>
<!--      <script src="/javascripts/gp.js"></script>-->
  </head>
  <body>
    {{> _errors}}
    {{> _msg}}

    {{{body}}} 
  </body>
</html>
