<div class="sidenav">
    <div class="image text-center mb-5">
        <img src="/images/img_avatar.png" width="100px" />
        <h5>Chukwuma Ciroma</h5>
    </div>
    <div class="navcontent inactive">
        <a href="/education/books">
            <img src="/images/documents.png" width="40px">
            <span class="ml-2">CPE311</span>
        </a>
    </div>
    <div class="navcontent inactive">
        <a href="/education/books/CPE301">
            <img src="/images/documents.png" width="40px">
            <span class="ml-2">CPE301</span>
        </a>
    </div>
    <div class="navcontent inactive">
        <a href="/education/books/CSC305">
            <img src="/images/documents.png" width="40px">
            <span class="ml-2">CSC305</span>
        </a>
    </div>

    <!-- <div class="navcontent inactive">
        <a href="/education/books">
            <img src="/images/documents.png" width="40px">
            <span class="ml-2">MTH306</span>
        </a>
    </div> -->
    <div class="navcontent inactive">
        <a href="/education/books/MTH301">
            <img src="/images/documents.png" width="40px">
            <span class="ml-2">MTH301</span>
        </a>
    </div>
    <div class="navcontent active">
        <a href="/education/books/CSC317">
            <img src="/images/documents.png" width="40px">
            <span class="ml-2">CSC317</span>
        </a>
    </div>
    <div class="navcontent inactive">
        <a href="/education/books/CSC315">
            <img src="/images/documents.png" width="40px">
            <span class="ml-2">CSC315</span>
        </a>
    </div>
    <div class="navcontent inactive logout mt-3">
        <a href="/education/books">
            <img src="/images/log-out.svg" width="40px">
            <span class="ml-2">Books</span>
        </a>
    </div>
</div>
<div class="main">
    <div class="container">
        <div class="detailed_header">
            <h2>CSC317</h2>
            <p class="lead">Course Title - Automata Theory and Computability</p>
        </div>

        <div class="course_description mt-4">
            <h3>Course Description: </h3>
            <p class="lead">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores, placeat possimus? Illum dolores amet
                assumenda ipsum asperiores nostrum, nemo consectetur earum. Nobis, consequatur? Cupiditate, laboriosam
                beatae soluta hic eos facere?
            </p>
        </div>


        <div class="row">
            <div class="col-md-6">
                <h3>Course Outline</h3>
                <div class="outline">
                    <ul>
                        <li>Outline 1</li>
                        <li>Outline 2</li>
                        <li>Outline 1</li>
                        <li>Outline 1</li>
                        <li>Outline 1</li>
                        <li>Outline 1</li>
                        <li>Outline 1</li>
                        <li>Outline 1</li>
                        <li>Outline 1</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <h3>Recommended Textbook</h3>
                <div class="recommended_textbook">
                    <ul>
                        <li><a href="">Reverse Engineering For Beginners - By Dennis Yurichev</a></li>
                        <li><a href="">Programming From The Ground Up - By Jonathan Bartlett</a></li>
                        <li><a href="">Low Level Programming - By Igor Zhirkov</a></li>
                        <li><a href="">PC Assembly Language - By Paul Carter</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>
</div>
</body>
